WCF Service Application 3/ClientApp/Service References/EmployeeService/Employee2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Surrogates" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Surrogates" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSurrogateEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SurrogateEmployee" nillable="true" type="tns:SurrogateEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSurrogateEmployee" nillable="true" type="tns:ArrayOfSurrogateEmployee" />
  <xs:complexType name="SurrogateEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurrogateEmployee" nillable="true" type="tns:SurrogateEmployee" />
</xs:schema>