WCF Service Application/NorthwindClientApp/Service References/ProductServiceConsumer/Products.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.northwind.com/services/productservices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.northwind.com/services/productservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.northwind.com/services/productservices/Imports">
      <xsd:import schemaLocation="http://localhost:4501/Products.svc?xsd=xsd0" namespace="http://www.northwind.com/services/productservices" />
      <xsd:import schemaLocation="http://localhost:4501/Products.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4501/Products.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SurrogeteLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NorthwindProductService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="NorthwindProductService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="NorthwindProductService_GetProductByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByName" />
  </wsdl:message>
  <wsdl:message name="NorthwindProductService_GetProductByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="NorthwindProductService">
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://www.northwind.com/services/productservices/NorthwindProductService/GetProducts" message="tns:NorthwindProductService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://www.northwind.com/services/productservices/NorthwindProductService/GetProductsResponse" message="tns:NorthwindProductService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductByName">
      <wsdl:input wsaw:Action="http://www.northwind.com/services/productservices/NorthwindProductService/GetProductByName" message="tns:NorthwindProductService_GetProductByName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.northwind.com/services/productservices/NorthwindProductService/GetProductByNameResponse" message="tns:NorthwindProductService_GetProductByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>