WCF Service Application/NorthwindClientApp/Service References/ProductServiceConsumer/Products.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.northwind.com/services/productservices" elementFormDefault="qualified" targetNamespace="http://www.northwind.com/services/productservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4501/Products.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SurrogeteLibrary" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SurrogeteLibrary" minOccurs="0" name="GetProductsResult" nillable="true" type="q1:ArrayOfSurrogateProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstLetter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SurrogeteLibrary" minOccurs="0" name="GetProductByNameResult" nillable="true" type="q2:ArrayOfSurrogateProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>